<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark" style="background:#0a0e1a;">
  <div class="container-fluid px-4">
    <a class="navbar-brand d-flex align-items-center gap-2 fw-bold fs-4" th:href="@{/}">
      <span style="color:#f0c040;">&#11088;</span> UEFA Europa
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto gap-1">
        <li class="nav-item"><a class="nav-link px-3" th:href="@{/}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link px-3" th:href="@{/clubes}">Clubes</a></li>
        <li class="nav-item"><a class="nav-link px-3" th:href="@{/jugadores}">Jugadores</a></li>
        <li class="nav-item"><a class="nav-link px-3" th:href="@{/entrenadores}">Entrenadores</a></li>
        <li class="nav-item"><a class="nav-link px-3" th:href="@{/competiciones}">Competiciones</a></li>
        <li class="nav-item"><a class="nav-link px-3" th:href="@{/asociaciones}">Asociaciones</a></li>
        <li class="nav-item"><a class="nav-link px-3" style="color:#f0c040;font-weight:600;" href="/h2-console" target="_blank">H2 DB</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
